<h1 class="testheader"> Your New Letter </h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2 paper paper-lift">
    <%= form_for @letter, :html => {:class => "form-horizontal letter-form", :role => "form"} do |f|%>
      <h2> Who is this letter for? </h2>
      <div class="row">
        <h3> National </h3>
        <div class="radio">
          <% @repinfo.each do |legislator| %>
            <div class="col-xs-4 text-center">
              <img class="img-circle img-responsive img-radio img-center rep-photo" src=<%= "http://bioguide.congress.gov/bioguide/photo/#{legislator['last_name'].first}/#{legislator['bioguide_id']}.jpg" %>>
              <%= f.radio_button :rep_id, "FED-#{legislator['bioguide_id']}", class:"hidden" %>
              <button type="button" class="btn btn-primary btn-radio"><%= "#{legislator['first_name']} #{legislator['last_name']} (#{legislator['chamber']})" %></button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <h3> State</h3>
        <% @local_repinfo.each do |legislator| %>
          <div class="col-xs-4 text-center">
            <img class="img-circle img-responsive img-radio img-center rep-photo" src=<%= legislator['photo_url'] %>>
            <%= f.radio_button :rep_id, legislator['id'], class:"hidden" %>
            <button type="button" class="btn btn-primary btn-radio"><%= "#{legislator['first_name']} #{legislator['last_name']} (#{legislator['chamber']})" %></button>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3>Dear Representative,</h3>
          <%= f.text_area :body, class: "form-control", rows:"6"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-7">
          <h2>Sincerely,</h2>
          <p><%= f.text_field :sender_name, :placeholder => "Your Name", class:"form-control"  %></p>
          <p><%= f.text_field :sender_email, :placeholder => "Your Email", class:"form-control" %></p>
          <p><%= f.text_area :sender_address, :placeholder => "Your Address", class:"form-control"%></p>
          <p><%= f.text_field :sender_city, :placeholder => "City", class:"form-control"  %></p>
          <p><%= f.text_field :sender_state, :placeholder => "State", class:"form-control" %></p>
          <p><%= f.text_field :sender_zip, :placeholder => "Zip", class:"form-control" %></p>
        </div>
      </div>
      <div class="row text-center">
        <%= f.button("Create My Letter", type: 'submit', class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>
</div>
