<h1> Your New Letter </h1>

<%= form_for @letter do |f|%>
  <h2> Who is this letter for? </h2>
  <h3> National </h3>
  <% @repinfo.each do |legislator| %>
    <%= f.radio_button :rep_id, legislator['bioguide_id'] %>
    <%= f.label :rep_id, "#{legislator['first_name']} #{legislator['last_name']} (#{legislator['chamber']})" %>
  <% end %>
  <h3> State</h3>
  <% @local_repinfo.each do |legislator| %>
    <%= f.radio_button :rep_id, legislator['id'] %>
    <%= f.label :rep_id, "#{legislator['first_name']} #{legislator['last_name']} (#{legislator['chamber']})" %>
  <% end %>
  <h2>Dear Representative,</h2>
  <%= f.text_area :body %>
  <h2>Sincerely,</h2>
  <p><%= f.text_field :sender_name, :placeholder => "Your Name"  %></p>
  <p><%= f.text_field :sender_email, :placeholder => "Your Email" %></p>
  <p><%= f.text_area :sender_address, :placeholder => "Your Address" %></p>
  <p><%= f.text_field :sender_city, :placeholder => "City"  %></p>
  <p><%= f.text_field :sender_state, :placeholder => "State" %></p>
  <p><%= f.text_field :sender_zip, :placeholder => "Zip" %></p>
  <p><%= f.submit %></p>
<% end %>