
<p>The Honorable <%= "#{@repinfo['first_name']} #{@repinfo['last_name']}" %> </p>
<p><%= "#{@repinfo['office']}" %></p>
<p>Washington, DC 20510</p>
<p><%= @letter.salutation(@repinfo) %></p>
<p><%= @letter.body %></p>
<p><%= @letter.sender_name %></p>
<p><%= @letter.sender_email %></p>
<p><%= @letter.sender_address %></p>
<p><%= @letter.sender_city %>, <%= @letter.sender_state %> <%= @letter.sender_zip %> </p>

<a href='/letters/<%= @letter.id %>/pdf'><button>Create PDF</button></a>